<!DOCTYPE html>
<html layout:decorate="~{fragments/baseEstudiante}" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Asignacion</title>

</head>
<body>

	<div layout:fragment="content">
		<h2>Asignacion</h2>
		
		<div th:if="${error}">
			<div class="alert alert-info">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
		<div th:if="${informacion}">
			<div class="alert alert-info">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
		<div th:if="${correcto}">
			<div class="alert alert-success">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
		<table class="table table-condensed" th:each="asignacion: ${asignaciones}">
			<tbody>
						
					<tr>
	
						<th>DNI</th>
						<td th:text=${asignacion.dniEstudianteAsignado}></td>
					</tr>
					<tr>
				
						<th>Estado</th>
						<td th:text="${asignacion.estado}"></td>
				
					</tr>
					
					<tr>
						<th>Id Oferta Proyecto</th>
						<td th:text="${asignacion.idOfertaProyecto}"></td>
					</tr>
					<tr>
			
						<th>Profesor Asignado</th>
						<td th:text="${profesores.get(asignacion.idAsignacion).nombre}"></td>
					</tr>
					<tr>
				
						<th>Objetivo</th>
						<td th:text="${ofertas.get(asignacion.idAsignacion).objetivo}"></td>
				
					</tr>
					<tr>
						<th>Empresa</th>
						<td th:text="${empresas.get(asignacion.idAsignacion).nombre}"></td>
				
					</tr>
					<tr>
			
						<th>Lugar</th>
						<td th:text="${empresas.get(asignacion.idAsignacion).domicilio}"></td>
					</tr>
					<tr>
						
						<td><a class="btn btn-default" th:href="@{/estudiante/aceptarAsignacion/{idasignacion}(idasignacion=${asignacion.idAsignacion})}">Aceptar</a></td>
						<td><a class="btn btn-default" th:href="@{/estudiante/rechazarAsignacion/{idasignacion}(idasignacion=${asignacion.idAsignacion})}">Rechazar</a></td>
						
					</tr>
					
			
			</tbody>
		</table>
	</div>
</body>
</html>