<!DOCTYPE html>
<html layout:decorate="~{fragments/baseEmpresa}">
<head>
</head>
<body>
	<div layout:fragment="content">
		<h1>
			<b>Menú de Empresa </b>
		</h1>
		<ul class="list-group">
			<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/empresa/addOferta">Realizar Oferta</a>:
						</h4>
						<p>Rellenar datos para registrar una oferta nueva de estancia en prácticas.</p></li>

				</ul>
				
				<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/empresa/addOfertaNominativa">Realizar oferta Nominativa</a>:
						</h4>
						<p>Registrar una oferta nueva para un alumno en particular introduciendo su DNI. </p></li>

				</ul>
				
				<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/empresa/listEstancias">Estancias Realizadas</a>:
						</h4>
						<p>Revisar y editar las estancias realizadas.</p></li>

				</ul>
				
				<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/empresa/listOfertasEmpresa">Ofertas Realizadas</a>:
						</h4>
						<p>Revisar y editar las ofertas y las ofertas nominativas.</p></li>

				</ul>
				


		</ul>
	</div>
</body>
</html>
</html>
