<!DOCTYPE html>
<html layout:decorate="~{fragments/baseTutor}">
  <head>
    <title>Tutor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style></style>
  </head>
 <body>
	<div layout:fragment="content">
		<h1>
			<b>Menú del tutor</b>
		</h1>
		<ul class="list-group">
			<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/tutor/listOfertas">Ver ofertas</a>:
						</h4>
						<p>Ver los datos de todas las ofertas que se han presentado y están aceptadas.</p></li>

				</ul>
				
				
				<li class="list-group-item">
				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/tutor/listAsignaciones">Ver asignaciónes</a>:
						</h4>
						<p>Ver los detalles de la oferta que se te ha asignado responsable.</p>

				</ul>


		</ul>
	</div>
</body>
</html>