<!DOCTYPE html>
<html layout:decorate="~{fragments/baseEstudiante}">
<head>

<title>EI1027</title>

</head>
<body>
	<div layout:fragment="content">
		<h1>
			<b>Menú de Estudiante</b>
		</h1>
		<ul class="list-group">
			<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/estudiante/listOfertas">Listar ofertas</a>:
						</h4>
						<p>Ver todas las ofertas que se han presentado y seleccionar un mínimo de 5 ofertas que te gustaría realizar como estancia en prácticas.</p></li>

				</ul>
				
				<li class="list-group-item">

				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/estudiante/addPreferencia">Mis preferencias</a>:
						</h4>
						<p>Ordenar tus preferencias.</p>
						<p>Seleccionar tu semestre de preferencia</p></li>

				</ul>
				
				<li class="list-group-item">
				<h2>
					<ins></ins>
				</h2>
				<p></p>
				<ul class="well well-sm">
					<li><h4>
							<a href="/estudiante/getAsignacion">Ver asignaciónes</a>:
						</h4>
						<p>Ver los detalles de la oferta a la que se te ha asignado para realizar la estancia en prácticas.</p>
						<p>Aceptar o rechazar dicha asignación.</p>
						<p>Ver un histórico de tu actividad (las ofertas rechazadas).</p>

				</ul>


		</ul>
	</div>
</body>
</html>
