<!DOCTYPE html>
<html layout:decorate="~{fragments/baseTutor}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tutor</title>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#example').dataTable();
} );
function sortTable(n) {
	  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
	  table = document.getElementById("myTable");
	  switching = true;
	  //Set the sorting direction to ascending:
	  dir = "asc"; 
	  /*Make a loop that will continue until
	  no switching has been done:*/
	  while (switching) {
	    //start by saying: no switching is done:
	    switching = false;
	    rows = table.getElementsByTagName("TR");
	    /*Loop through all table rows (except the
	    first, which contains table headers):*/
	    for (i = 1; i < (rows.length - 1); i++) {
	      //start by saying there should be no switching:
	      shouldSwitch = false;
	      /*Get the two elements you want to compare,
	      one from current row and one from the next:*/
	      x = rows[i].getElementsByTagName("TD")[n];
	      y = rows[i + 1].getElementsByTagName("TD")[n];
	      /*check if the two rows should switch place,
	      based on the direction, asc or desc:*/
	      if (dir == "asc") {
	        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
	          //if so, mark as a switch and break the loop:
	          shouldSwitch= true;
	          break;
	        }
	      } else if (dir == "desc") {
	        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
	          //if so, mark as a switch and break the loop:
	          shouldSwitch = true;
	          break;
	        }
	      }
	    }
	    if (shouldSwitch) {
	      /*If a switch has been marked, make the switch
	      and mark that a switch has been done:*/
	      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
	      switching = true;
	      //Each time a switch is done, increase this count by 1:
	      switchcount ++;      
	    } else {
	      /*If no switching has been done AND the direction is "asc",
	      set the direction to "desc" and run the while loop again.*/
	      if (switchcount == 0 && dir == "asc") {
	        dir = "desc";
	        switching = true;
	      }
	    }
	  }
	}
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
	 
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      	}
    	}       
  	
  }	
}

</script>
<style>

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<h1>Lista de ofertas</h1>
		<div th:if="${error}">
			<div class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
		<div th:if="${correcto}">
			<div class="alert alert-success">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
		<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre de empresa" title="Type in a name">
			<table id="myTable" class="table table-condensed" style="width:100%">
				<thead>
					<tr>
						<th onclick="sortTable(0)">Empresa</th>
						<th onclick="sortTable(1)">Tarea</th>
						<th onclick="sortTable(2)">Itinerario</th>
					</tr>
				</thead>
			
				<tbody>
				
					<tr th:each="ofertaProyecto: ${ofertasProyecto}">
						<td th:text="${empresas.get(ofertaProyecto.idEstancia).nombre}"></td>
						<td th:text="${ofertaProyecto.tarea}"></td>
						<td th:text="${ofertaProyecto.itinerario}"></td>
						<td><a class="btn btn-default" th:href="@{/tutor/getOferta/{idOferta}(idOferta=${ofertaProyecto.idOferta})}">Más detalles</a></td>
					</tr>
				</tbody>
			</table>
	</div>
	
	
</body>
</html>